<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXS - About us</title>
    <link rel="stylesheet" href="/static/css/about-stylesheet.css"
          th:href="@{/css/about-stylesheet.css}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>

<header>
    <!--
    Div element for the left side of the header, containing the company name/logo and slogan.
    -->
    <div id="header_left">

        <h1 class="main_header">XXS</h1>
        <h2 class="slogan">because the size doesn't matter</h2>

    </div>


    <!--
    Div element for the right side of the header, containing links for Store, About us and Contact page
    as well as login and register options.
    -->
    <div id="header_right">
        <h4>Store</h4>
        <h4>About us</h4>
        <h4>Contact</h4>
        <button id="login" type="button">Log in</button>
        <button id="register" type="button">Register</button>
    </div>
</header>

<div class="all_section">

    <img src = "/static/images/about/About_us.jpg" alt="About us" th:src="@{/images/about/About_us.jpg}">

    <div class="TextOnImage">
        <h1>ABOUT US</h1>
    </div>

</div>

<div class="content">
<div class="Dedicated_and_helpful">
    <div>
        <h3>Dedicated and helpful</h3>
        <p>XXS is your friendly neighbourhood hiking equipment supplier.<br> Whatever you need, we've got it.
        Our workers are specialized in<br> helping you find the right product in the best possible quality<br> for you,
        and the prices are set in a way that it'll be a profitable<br> investment for your hiking life</p>
    </div>
    <img src="/static/images/about/community.jpg" alt="Helpful" th:src="@{/images/about/community.jpg}">
</div>


<div class="Location">
    <img src="/static/images/about/byrampen-alesund.jpg" alt="Location" th:src="@{/images/about/byrampen-alesund.jpg}">
    <div>
        <h3>Location</h3>
        <p>XXS is located in beautiful and iconic Ålesund, at the north-west<br> coast in Norway.
        This gives us a particular first-hand experience<br> with fine nature and stormy weather, resulting
        in a good<br> understanding of our customers needs</p>
    </div>
</div>

<div class="OurProducts">
    <div>
        <h3>Our products and services</h3>
        <p>We sell only premium equipment from brands such as Bergans,<br> North Face, Devold and Mammut.
            All our employees are hiking<br> enthusiasts and we have tested all we sell in the shop. </p>
    </div>
    <img src="/static/images/about/ourproducts.jpg" alt="ourProducts" th:src="@{/images/about/ourproducts.jpg}" >
</div>
</div>

<footer>


    <div id="footer_mid">
        <h1 id="footer_logo">XXS</h1>


        <div id="footer_left">
            <div class="contact_info">
                <div>
                    <ul>
                        <li><h3>OPENING HOURS</h3></li>
                        <li></li>
                        <li>Monday-Friday: 08:00 - 20:00</li>
                        <li>Saturday: 10:00 - 18:00</li>
                        <li>Sunday: CLOSED</li>


                    </ul>
                </div>
                <div>
                    <li><h3>CONTACT INFO</h3></li>
                    <li> <span> <i class="material-icons">call</i></span> Call us now: (+47) 917 92 104</li>
                    <li> <span> <i class="material-icons">email</i> </span> Mail : support@xxs.no</li>
                    <li> <span> <i class="material-icons">location_pin</i> </span> XXS AS, Ivar aasens gate 27,6005 Ålesund, Norway </li>

                </div>



            </div>
        </div>



    </div>

    <div id="footer_right">
        <div id="footer_links">
            <a class="Link_Footer" href="faq.html">FAQ</a>
            <a class="Link_Footer" href="about.html">About us</a>
            <a class="Link_Footer" href="gallery.html">Gallery</a>
        </div>
    </div>


</footer>

</body>
</html>