<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

<!--    Stylesheet-->
    <link rel="stylesheet" href="/static/css/Footer-Stylesheet.css" th:href="@{/css/Footer-Stylesheet.css}">
</head>






    <div id="footer_mid">
        <h1 id="footer_logo">XXS</h1>


        <div id="footer_left">
            <div class="contact_info">
                <div>
                    <ul>
                        <li><h3>OPENING HOURS</h3></li>
                        <li></li>
                        <li>Monday-Friday: 08:00 - 20:00</li>
                        <li>Saturday: 10:00 - 18:00</li>
                        <li>Sunday: CLOSED</li>


                    </ul>
                </div>
                <div>
                    <li><h3>CONTACT INFO</h3></li>
                    <li> <span> <i class="material-icons">call</i></span> Call us now: (+47) 917 92 104</li>
                    <li> <span> <i class="material-icons">email</i> </span> Mail : support@xxs.no</li>
                    <li> <span> <i class="material-icons">location_pin</i> </span> XXS AS, Ivar aasens gate 27,6005 Ålesund, Norway </li>

                </div>



            </div>
        </div>



    </div>

    <div id="footer_right">
        <div id="footer_links">
            <a class="Link_Footer" href="faq.html">FAQ</a>
            <a class="Link_Footer" href="about.html">About us</a>
            <a class="Link_Footer" href="gallery.html">Gallery</a>
        </div>
    </div>






</html>