<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <title>Header</title>

  <!-----------------------
      Link section
----------------------->

  <link rel="stylesheet" href="/static/css/Header-Stylesheet.css" th:href="@{/css/Header-Stylesheet.css}">

</head>

<!-----------------------
      Left section
----------------------->

  <div id="header_left">
    <a class="main_header" href="home.html" th:href="@{/home}">XXS</a>
    <h2 class="slogan">because the size doesn't matter</h2>
  </div>

<!-----------------------
      Right section
----------------------->

  <div id="header_right">
    <a class="Link_Header" href="store.html" th:href="@{/store}">Store</a>
    <a class="Link_Header" href="about.html" th:href="@{/about}">About us</a>
    <a class="Link_Header" href="login.html" th:href="@{/login}">
      <button class="Login_and_Register" id="login" type="button">Log in</button>
    </a>
    <button class="Login_and_Register" id="register" type="button">Register</button>
    <a href="/profile" th:href="@{/profile}">
      <input type="image" class="profileButton" src="/static/images/home/profileIcon.png" th:src="@{/images/home/profileIcon.png}"
             alt="profile icon"/>
    </a>
  </div>
</html>