<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

  <!--    Stylesheet-->
  <link rel="stylesheet" href="/static/css/Header-Stylesheet.css" th:href="@{/css/Header-Stylesheet.css}">
</head>

 <!--
  Div element for the left side of the header, containing the company name/logo and slogan.
  -->
  <div id="header_left">

    <h1 class="main_header">XXS</h1>
    <h2 class="slogan">because the size doesn't matter</h2>

  </div>


  <!--
  Div element for the right side of the header, containing links for Store, About us and Contact page
  as well as login and register options.
  -->
  <div id="header_right">
    <a class="Link_Header" href="store.html">Store</a>
    <a class="Link_Header" href="about.html">About us</a>

    <a class="Link_Header" href="login.html">
      <button class="Login_and_Register" id="login" type="button">Log in</button>
    </a>
    <button class="Login_and_Register" id="register" type="button">Register</button>

    <a href="/profile">
      <input type="image" class="profileButton" src="/static/images/home/profileIcon.png" th:src="@{/images/home/profileIcon.png}"
             alt="profile icon"/>
    </a>
  </div>



