<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXS</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/home%20Stylesheet.css" th:href="@{/css/home Stylesheet.css}">
</head>
<body>
<header>

    <!--
    Div element for the left side of the header, containing the company name/logo and slogan.
    -->
    <div id="header_left">

        <h1 class="main_header">XXS</h1>
        <h2 class="slogan">because the size doesn't matter</h2>

    </div>


    <!--
    Div element for the right side of the header, containing links for Store, About us and Contact page
    as well as login and register options.
    -->
    <div id="header_right">
        <h4>Store</h4>
        <h4><a href="About.html">About us</a></h4>
        <h4>Contact</h4>
        <button id="login" type="button">Log in</button>
        <button id="register" type="button">Register</button>
    </div>
</header>

<div class="Landing_Page">

    <img src = "/static/images/Hero.webp" alt="Welcome to XXS" th:src="@{/images/Hero.webp}">

    <div class="TextOnImage">
        <h1>Best quality of hiking equipment worldwide</h1>
        <button type="button">To the shop</button>
    </div>

</div>

<!--
A section containing a few product cards for the most popular products on the site.
-->
<div class="popular-products">

    <h2>Popular products</h2>

    <div class="cards">

        <div id="card1">
            <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="E9 Premium Backpack">
            <h5>SALOMON</h5>
            <p>E9 Premium Backpack</p>
            <h2>599</h2>
        </div>
        <div id="card2">
            <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Hiking boots">
            <h5>MAMMUT</h5>
            <p>X100 Hiking Boots 2022</p>
            <h2>899</h2>
        </div>
        <div id="card3">
            <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="All Weather jacket">
            <h5>BERGANS</h5>
            <p>ALLWEATHER Jacket</p>
            <h2>999</h2>
        </div>
        <div id="card4">
            <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Winter sweater">
            <h5>DEVOLD</h5>
            <p>Winter Sweater 2021</p>
            <h2>499</h2>
        </div>

    </div>
    <button class="popular_button" type="button">See more</button>
</div>

<div class="product&services">

    <img src="https://picsum.photos/400/250" alt="Our Products">
    <div id="text">
        <h3>Our product and services</h3>
        <p>We sell only premium equipment from brands such as<br> Bergans, North Face, Devold and Mammut. All our<br> employees are hiking enthusiasts and we have tested all<br> we sell in the shop. </p>
    </div>
</div>

<div class="about_us">
    <div>
        <h3>About the company</h3>
        <p>Young or old, we help you reach the peaks of your lifetime.<br> With XXS your weekend is a success. Our team consists of<br> professional climbers as well as weekend hikers.</p>
        <button type="button">More about us</button>
    </div>
    <img src="https://picsum.photos/400/250" alt="Our Team">
</div>

<div class="Related_companies">

    <div class="related_text">
        <h3>Related companies</h3>
        <p><br>We sell products from the following <br> brands</p>
    </div>

    <img src="https://picsum.photos/400/250" alt="Bergans, Mammut, Devold, Nike,The North Face, Salomon">

</div>

<div class="customer_feedback">
    <h2>You're in good company</h2>

    <div class="person_cards">

        <div>
            <img class="person_image" src="/static/images/anton.jpg" alt="Anton" th:src="@{/images/anton.jpg}">
            <div class="person">
                <p>“Hiking is a good way<br> to use weekends<br> together with your<br> family. XXS is our go-to<br> place for the latest<br> hiking gear.”
                <h5>Anton Berg-Hansen</h5>
            </div>


        </div>
        <div>
            <img class="person_image" src="/static/images/Chuck%20Vestre.jpg"
                 alt="Chuck" th:src="@{/images/Chuck Vestre.jpg}">
            <div class="person">
                <p>“We are a small IT<br> company, full of geeks.<br> I had difficulty getting<br> the geeks out of their<br> chairs. XXS suggested<br> the latest water bottles<br> as a Christmas gift for<br> all employees. I was<br> skeptical at first, but<br> now I have difficulty<br> getting them back<br> indoors.”</p>
                <h5>Chuck Vestre</h5>
            </div>

        </div>
        <div>
            <img class="person_image" src="/static/images/Pitbull.jpg" alt="MR WorldWIde" th:src="@{/images/Pitbull.jpg}">
            <div class="person">
                <p>“Got a matching<br> sweater for my dog<br> and myself. We are out<br> in the mountains<br> every Sunday since."</p>
                <h5>Pitbull</h5>
            </div>
        </div>
    </div>
</div>
<div class="for_dogs">
    <h2>P.S. We have warm clothes for dogs.</h2>
    <button id="button1" type="button">Check our products</button>
    <button id="button2" type="button">Contact us</button>
</div>

<footer>
    <div id="footer_left">
        <h2>Mobile app</h2>
        <h2>Pricing</h2>
        <h2>This is XXS</h2>
    </div>

    <div id="footer_mid">
        <h1>XXS</h1>

    </div>

    <div id="footer_right">
        <h2>Contact</h2>
        <h2>FAQ</h2>
        <h2>Delivery</h2>
    </div>


</footer>



</body>
</html>