<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" th:src="@{/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png" th:src="@{/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png" th:src="@{/images/favicon/favicon-16x16.png}">
<!--        <link rel="manifest" href="/static/images/favicon/site.webmanifest">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--
    Setting the viewport for the website.
    This gives the browser instructions on how to control the page's dimensions and scaling.
    The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).
    The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser.
-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    Linking to the home-stylesheet-->
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/home-stylesheet.css" th:href="@{/css/home-stylesheet.css}">

<!--Installing jQuery using Content Delivery Network-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--Linking to the JavaScript that loads the html files-->
    <script type="application/javascript" src="/static/js/LoadHeaderAndFooter.js" th:src="@{/js/LoadHeaderAndFooter.js}"></script>


</head>

<body>

<!--The Header.html will be loaded as the content of the header element below.-->

<header id="header"></header>

<!--
Landing page section
-->


<div class="Landing_Page">
    <img src = "/static/images/home/825191.jpeg" alt="Welcome to XXS" th:src="@{/images/home/825191.jpeg}">
    <div class="TextOnImage">
        <h1>Best quality of hiking equipment worldwide</h1>
        <a href="store.html">
        <button type="button">To the shop</button>
        </a>
    </div>
</div>

<!--
Popular products section
-->
<div class="popular-products">
    <h2>Popular products</h2>
    <div class="card_section">
            <div class="cards">
                <img class="product_image" src="https://i.imgur.com/qJTbRxF.png" alt="E9 Premium Backpack">
                <h5>SALOMON</h5>
                <p>E9 Premium Backpack</p>
                <h2>599</h2>
            </div>
            <div class="cards">
                <img class="product_image" src="https://i.imgur.com/xjhKakE.png" alt="Hiking boots">
                <h5>MAMMUT</h5>
                <p>X100 Hiking Boots 2022</p>
                <h2>899</h2>
            </div>
            <div class="cards">
                <img class="product_image" src="https://i.imgur.com/NdXQjPx.png" alt="All Weather jacket">
                <h5>BERGANS</h5>
                <p>ALLWEATHER Jacket</p>
                <h2>999</h2>
            </div>
            <div class="cards">
                <img class="product_image" src="https://i.imgur.com/vwNnW8s.png" alt="Winter sweater">
                <h5>DEVOLD</h5>
                <p>Winter Sweater 2021</p>
                <h2>499</h2>
            </div>
        </div>
    <a href="store.html">
        <button class="popular_button" type="button">See more</button>
    </a>
</div>

<!--
Gallery section.
-->

<div class="gallery_page">
    <img src="/static/images/home/hero.webp" alt="Your pictures">
    <div>
        <h3>Gallery</h3>
        <p>Check out our gallery of photos sent in from our customers!</p>
        <a href="gallery.html">
        <button type="button">Go to gallery</button>
        </a>
    </div>
</div>

<!--
About us section.
-->

<div class="about_us">
    <div>
        <h3>About the company</h3>
        <p>Young or old, we help you reach the peaks of your lifetime.<br> With XXS your weekend is a success. Our team consists of<br> professional climbers as well as weekend hikers.</p>
        <a href="about.html">
        <button type="button">More about us</button>
        </a>
    </div>
    <img src="/static/images/home/photo-1548960071-38683381b592.webp" alt="Our Team">
</div>

<!--
Related companies section.
-->

<div class="Related_companies">
    <div>
        <h3>Related companies</h3>
        <p><br>We sell products from the following <br> brands</p>
    </div>
    <div>
        <div class="related_companies_images">
            <img src="/static/images/brands/salomon.webp" th:src="@{/images/brands/salomon.webp}" alt="Salomon logo">
            <img src="/static/images/brands/mammut.png" th:src="@{/images/brands/mammut.png}" alt="Mammut logo">
        </div>
        <div class="related_companies_images">
            <img src="/static/images/brands/northface.jpg" th:src="@{/images/brands/northface.jpg}" alt="The north face logo">
            <img src="/static/images/brands/bergans.jpg" th:src="@{/images/brands/bergans.jpg}" alt="Bergans logo">
        </div>
        <div class="related_companies_images">
            <img src="/static/images/brands/devold.png" th:src="@{/images/brands/devold.png}" alt="Devold logo">
            <img src="/static/images/brands/nike.jpeg" th:src="@{/images/brands/nike.jpeg}" alt="Nike logo">
        </div>
    </div>
</div>

<!--
customer feedback section.
-->

<div class="customer_feedback">
    <h2>You're in good company</h2>
    <div class="person_cards_section">
        <div>
            <img class="person_image" src="/static/images/home/anton.jpg" alt="Anton" th:src="@{/images/home/anton.jpg}">
                <div class="persons">
                    <p>“Hiking is a good way to use weekends<br> together with your family.
                        <br>XXS is our go-to<br> place for the latest<br> hiking gear." <br> <br> <br> <br> </p>
                </div>
            <h5>Anton Berg-Hansen</h5>
        </div>
        <div>
            <img class="person_image" src="/static/images/home/chuck.jpg"
                     alt="Chuck" th:src="@{/images/home/chuck.jpg}">
                <div class="persons">
                    <p>“We are a small IT company,<br> full of geeks.
                        I had difficulty<br> getting
                        the geeks out<br> of their
                        chairs. XXS suggested<br>
                        the latest water bottles
                        as a<br> Christmas gift for
                        all employees.<br>I was
                        skeptical at first, but
                        now I have difficulty<br>
                        getting them back
                        indoors.” <br> <br> </p>
                </div>
            <h5>Chuck Vestre</h5>
        </div>
        <div>
            <img class="person_image" src="/static/images/home/pitbull.jpg" alt="MR WorldWide" th:src="@{/images/home/pitbull.jpg}">
                <div class="persons">
                    <p>“Got a matching<br> sweater for my<br> dog and myself.<br>
                        We are out in<br> the mountains every Sunday since." <br> <br> <br> </p>
                </div>
            <h5>Pitbull</h5>
        </div>
    </div>
</div>

<!--
for dogs section / bottom page section.
-->

<div class="for_dogs">
    <h2>P.S. We have warm clothes for dogs.</h2>
    <a href="store.html">
    <button type="button">Check our products</button>
    </a>
</div>


<!--
footer section
-->

<footer id="footer"></footer>

</body>
</html>