<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXS</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/home-stylesheet.css"
          th:href="@{/css/home-stylesheet.css}">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" th:src="@{/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png" th:src="@{/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png" th:src="@{/images/favicon/favicon-16x16.png}"><link rel="manifest" href="/static/images/favicon/site.webmanifest">
</head>
<body>
<header>

    <!--
    Div element for the left side of the header, containing the company name/logo and slogan.
    -->
    <div id="header_left">

        <h1 class="main_header">XXS</h1>
        <h2 class="slogan">because the size doesn't matter</h2>

    </div>


    <!--
    Div element for the right side of the header, containing links for Store, About us and Contact page
    as well as login and register options.
    -->
    <div id="header_right">
        <h4><a href="store">Store</a></h4>
        <h4><a href="about">About us</a></h4>
        <h4>Contact</h4>
        <a href="login">
        <button id="login" type="button">Log in</button>
        </a>
        <button id="register" type="button">Register</button>

        <a href="/profile">
            <input type="image" class="profileButton" src="/static/images/home/profileIcon.png" th:src="@{/images/home/profileIcon.png}"
                   alt="profile icon"/>
        </a>
    </div>
</header>

<div class="Landing_Page">

    <img src = "/static/images/home/825191.jpeg" alt="Welcome to XXS" th:src="@{/images/home/825191.jpeg}">

    <div class="TextOnImage">
        <h1>Best quality of hiking equipment worldwide</h1>
        <button type="button">To the shop</button>
    </div>

</div>

<!--
A section containing a few product cards for the most popular products on the site.
-->
<div class="popular-products">

    <h2>Popular products</h2>

    <div class="allcards">
        <div class="cards1">

            <div id="card1">
                <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="E9 Premium Backpack">
                <h5>SALOMON</h5>
                <p>E9 Premium Backpack</p>
                <h2>599</h2>
            </div>
            <div id="card2">
                <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Hiking boots">
                <h5>MAMMUT</h5>
                <p>X100 Hiking Boots 2022</p>
                <h2>899</h2>
            </div>
        </div>
        <div class="cards2">
            <div id="card3">
                <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="All Weather jacket">
                <h5>BERGANS</h5>
                <p>ALLWEATHER Jacket</p>
                <h2>999</h2>
            </div>
            <div id="card4">
                <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Winter sweater">
                <h5>DEVOLD</h5>
                <p>Winter Sweater 2021</p>
                <h2>499</h2>
            </div>

        </div>
    </div>


    <button class="popular_button" type="button">See more</button>
</div>

<div class="product-and-services">

    <img src="/static/images/home/hero.webp" alt="Our Products">
    <div id="text">
        <h3>Our product and services</h3>
        <p>We sell only premium equipment from brands such as<br> Bergans, North Face, Devold and Mammut. All our<br> employees are hiking enthusiasts and we have tested all<br> we sell in the shop. </p>
    </div>
</div>

<div class="about_us">
    <div>
        <h3>About the company</h3>
        <p>Young or old, we help you reach the peaks of your lifetime.<br> With XXS your weekend is a success. Our team consists of<br> professional climbers as well as weekend hikers.</p>
        <button type="button">More about us</button>
    </div>
    <img src="/static/images/home/photo-1548960071-38683381b592.webp" alt="Our Team">
</div>

<div class="Related_companies">

    <div class="related_text">
        <h3>Related companies</h3>
        <p><br>We sell products from the following <br> brands</p>
    </div>
    <div class="allimages">
        <div class="related_companies_images1">
            <img class="salomon" src="/static/images/brands/salomon.webp" th:src="@{/images/brands/salomon.webp}">
            <img class="mammut" src="/static/images/brands/mammut.png" th:src="@{/images/brands/mammut.png}">
        </div>
        <div class="related_companies_images2">
            <img class="northface" src="/static/images/brands/northface.jpg" th:src="@{/images/brands/northface.jpg}">
            <img class="bergans" src="/static/images/brands/bergans.jpg" th:src="@{/images/brands/bergans.jpg}">
        </div>
        <div class="related_companies_images3">
            <img class="devold" src="/static/images/brands/devold.png" th:src="@{/images/brands/devold.png}">
            <img class="nike" src="/static/images/brands/nike.jpeg" th:src="@{/images/brands/nike.jpeg}">
        </div>
    </div>



</div>

<div class="customer_feedback">
    <h2>You're in good company</h2>

    <div class="person_cards">
        <div class="person_card1">
            <div>
                <img class="person_image1" src="/static/images/home/anton.jpg" alt="Anton" th:src="@{/images/home/anton.jpg}">
                <div class="person">
                    <p>“Hiking is a good way to use weekends<br> together with your family. <br>XXS is our go-to<br> place for the latest<br> hiking gear.”
                    <h5>Anton Berg-Hansen</h5>
                </div>
        </div>
        </div>

        <div class="person_card2">
            <div>
                <img class="person_image2" src="/static/images/home/chuck.jpg"
                     alt="Chuck" th:src="@{/images/home/chuck.jpg}">
                <div class="person2">
                    <p>“We are a small IT company,<br> full of geeks.
                        I had difficulty<br> getting
                        the geeks out<br> of their
                        chairs. XXS suggested<br>
                        the latest water bottles
                        as a<br> Christmas gift for
                        all employees.<br>I was
                        skeptical at first, but
                        now I have difficulty<br>
                        getting them back
                        indoors.”</p>
                    <h5>Chuck Vestre</h5>
                </div>
        </div>
        </div>

        <div class="person_card3">
            <div>
                <img class="person_image3" src="/static/images/home/pitbull.jpg" alt="MR WorldWIde" th:src="@{/images/home/pitbull.jpg}">
                <div class="person3">
                    <p>“Got a matching<br> sweater for my<br> dog and myself.<br> We are out in<br> the mountains every Sunday since."</p>
                    <h5>Pitbull</h5>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="for_dogs">
    <h2>P.S. We have warm clothes for dogs.</h2>
    <button id="button1" type="button">Check our products</button>
    <button id="button2" type="button">Contact us</button>
</div>

<footer>
    <div id="footer_left">
        <h2>Mobile app</h2>
        <h2>Pricing</h2>
        <h2>About us</h2>
    </div>

    <div id="footer_mid">
        <h1>XXS</h1>

    </div>

    <div id="footer_right">
        <h2>Contact</h2>
        <h2>FAQ</h2>
        <h2>Delivery</h2>
    </div>


</footer>



</body>
</html>