<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Images</title>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}">

</head>
<body>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Id </th>
        <th> Image </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${imageAttribute.empty}">
        <td colspan="2"> No Images Available </td>
    </tr>
    <tr th:each="image : ${imageAttribute}">
        <td><span th:text="${image.getFileName()}"> Name </span></td>
        <td><span th:text="${image.getImageId()}"> Id </span></td>
        <td><img th:src="@{|/api/images/${image.getImageId()}|}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>