<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}">


    <title>XXS login</title>

    <!--    TODO Make original stylesheet-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="icon" href="/static/images/favicon.ico" th:src="@{/images/favicon/favicon.ico}">

    <style>
        body {
            background-color: #3e3e3e;
            color: white;
        }
    </style>


</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="">
        <h2>Please login to XXS</h2>
        <p>
            <label class="sr-only" for="username" >Username</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Username">
        </p>
        <p>
            <label class="sr-only" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-form-button">Login</button>
    </form>
</div>
<!--<script type="application/javascript" th:src="@{/js/login.js}" src="/static/js/login.js"></script>-->
</body>
</html>