<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Manager</title>

  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}">



  <!--Installing jQuery using Content Delivery Network-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--Linking to the JavaScript that loads the html files-->
  <script type="application/javascript" src="/static/js/LoadHeaderAndFooter.js" th:src="@{/js/LoadHeaderAndFooter.js}"></script>

  <script type="application/javascript" th:src="@{/js/Management.js}" src="/static/js/Management.js"></script>

  <link rel="stylesheet" type="text/css" media="all" href="/static/css/Management-Stylesheet.css" th:href="@{/css/Management-Stylesheet.css}">

</head>
<body>

<noscript>You need to enable JavaScript to run this app.</noscript>

<!--The Header.html will be loaded as the content of the header element below.-->
<header id="header"></header>

<div id="root">

  <div class="productCard">

    <div class="divProductCardImage">
      <img class="productCardImage" alt="product" src="https://picsum.photos/400/300"/>
    </div>

    <div class="divProductCardContent">
      <h2 class="productCardName">Lorem ipsum.</h2>
      <h3 class="productCardPrice">123 Kr</h3>
      <h5 class="productCardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nisi numquam veritatis?</h5>
    </div>

    <div class="divProductCardActions">

      <div class="actionButtonEdit">

        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6" fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
          </path>
        </svg>

      </div>

      <div class="actionButtonDelete">

        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
          </path>
        </svg>

      </div>
    </div>

  </div>

  <div class="productAddCard" style="display: none">
    <div class="divProductCardImage">
      <div class="image-editor">

        <div class="image-editor-preview">
          <svg  xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
            </path>
          </svg>
        </div>

        <div class="image-editor-action">
          <label class="image-editor-action-label" for="file-image-input">Choose image</label>
          <input type="file" id="file-image-input" accept="image/*" class="image-editor-button" hidden onchange="inputImage(event)">
        </div>
      </div>
    </div>


    <div class="product-card-content">

      <div class="product-card-editable">
        <label for="name-input">Name:</label><input type="text" id="name-input" placeholder="Name" value="">
      </div>

      <div class="product-card-editable">
        <label for="price-input">Price:</label><input type="number" id="price-input" placeholder="Price" value="" step="0.01">
      </div>

      <div class="product-card-editable">
        <label for="description-input">Description:</label>
        <textarea id="description-input" placeholder="Description"></textarea>
      </div>

    </div>

    <div class="save-button-add-production-card">

      <svg xmlns="http://www.w3.org/2000/svg"
           class="h-6 w-6" fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
           stroke-width="2">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4">
        </path>
      </svg>

    </div>
  </div>


  <div id="addProductCard" onclick="addClick()">

    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-6 w-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         stroke-width="2">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z">

      </path>
    </svg>
  </div>

</div>


<footer id="footer"></footer>


</body>
</html>
