<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="/static/images/favicon/favicon.ico" th:src="@{/images/favicon/favicon.ico}">

  <link rel="stylesheet" type="text/css" media="all" href="/static/css/management-stylesheet.css"
        th:href="@{/css/management-stylesheet.css}">
  <script type="application/javascript" th:src="@{/js/Management.js}" src="/static/js/Management.js"></script>

</head>
<body>

<noscript>You need to enable JavaScript to run this app.</noscript>

<h1>Product Manager</h1>

<div id="root"></div>


</body>
</html>
