<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXS - Profile</title>

    <!-----------------------
    Order history page Link section
    ----------------------->

    <link rel="stylesheet" href="/static/css/OrderHistory-Stylesheet.css"
          th:href="@{/css/OrderHistory-Stylesheet.css}">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <!-----------------------
    Order history Script section
    ----------------------->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="application/javascript" src="/static/js/LoadHeaderAndFooter.js" th:src="@{/js/LoadHeaderAndFooter.js}"></script>

    <script type="application/javascript" th:src="@{/js/OrderHistory.js}" src="/static/js/OrderHistory.js"></script>

</head>
<body>

<header id="header"></header>


<div id="container">

    <div id="leftSide">

        <h1>Profile page</h1>

        <a class="Link" id="Profile" href="Profile.html" th:href="@{/profile}">> Profile settings <br></a>

        <a class="Link" id="OrderHistory" href="OrderHistory.html" th:href="@{/order-history}">> Order history <br></a>

        <a class="Link" id="ManagementLink" href="Management.html" th:href="@{/management}" style="display: none" >> Management page</a>

        <a class="Link" href="Faq.html" th:href="@{/faq}">FAQ</a>


        <button id="LogoutButton">Log out</button>

    </div>
    <div id="RightSide">



    </div>

</div>


<footer id="footer"></footer>

</body>
</html>