<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}">


    <title>XXS Register</title>

    <link rel="stylesheet" type="text/css" media="all" href="/static/css/Register_Stylesheet.css" th:href="@{/css/Register_Stylesheet.css}">


    <link rel="icon" href="/static/images/favicon.ico" th:src="@{/images/favicon/favicon.ico}">

    <!--Installing jQuery using Content Delivery Network-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--Linking to the JavaScript that loads the html files-->
    <script type="application/javascript" src="/static/js/LoadHeaderAndFooter.js" th:src="@{/js/LoadHeaderAndFooter.js}"></script>




</head>
<body>

<header id="header"></header>

    <form class="register_form" method="post" action="">
        <h2>Welcome to <em>XXS</em></h2>

        <div class="register_form_element">
            <label for="Name" >Name:</label>
            <input class="text_input" type="text" id="Name" name="Name" placeholder="Name">
        </div>

        <div class="register_form_element">
            <label for="E-Mail" >E-Mail:</label>
            <input class="text_input" type="text" id="E-Mail" name="E-mail" placeholder="E-mail">
        </div>

        <div class="register_form_element_password">
            <label for="password">Password:</label>
            <input class="text_input" type="password" id="password" name="password" placeholder="Password">
        </div>

        <div class="register_form_element_password">
            <label for="confirm_password"></label>
            <input class="text_input" type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
        </div>

        <button type="submit" id="register-form-button">Submit</button>


    </form>
<footer id="footer"></footer>
</body>
</html>