<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/static/css/store-stylesheet.css"
          th:href="@{/css/store-stylesheet.css}">
    <script src="/static/js/shoppingcart.js"></script>
    <script src="https://kit.fontawesome.com/ea9d0937b1.js" crossorigin="anonymous"></script>
</head>
<header>
    <!-- navbar-->
    <div id="header_left">
        <h1 class="main_header">XXS</h1>
        <h2>STORE</h2>
    </div>

    <div id="header_right">
        <h3>All</h3>
        <h4>For men</h4>
        <h4>For women</h4>
        <h4>For dogs</h4>
        <div class="cart-btn">
            <button id="shoppingcart" type="button">Shopping cart</button>
            <div class="cart-items">0</div>
        </div>
    </div>
</header>

<body>
<section class="products">
    <div class="section-title">
        <h2>Popular products</h2>
    </div>
    <div class="products-center">
        <!-- A single product -->
        <article class="product">
            <div class="img-container">
                <img src="https://i.imgur.com/qJTbRxF.png" alt="product" class="product-img">
                <button class="bag-btn" data-id="1">
                    <i class="fas fa-shopping-cart"></i>
                    Add to bag
                </button>
            </div>
            <h3>SALOMON</h3>
            <p>E9 Premium Backpack</p>
            <h1>599</h1>
        </article>
        <!-- end of single product-->
        <!-- A single product -->
        <article class="product">
            <div class="img-container">
                <img src="https://i.imgur.com/qJTbRxF.png" alt="product" class="product-img">
                <button class="bag-btn" data-id="1">
                    <i class="fas fa-shopping-cart"></i>
                    Add to bag
                </button>
            </div>
            <h3>SALOMON</h3>
            <p>E9 Premium Backpack</p>
            <h1>599</h1>
        </article>
        <!-- end of single product-->
        <!-- A single product -->
        <article class="product">
            <div class="img-container">
                <img src="https://i.imgur.com/qJTbRxF.png" alt="product" class="product-img">
                <button class="bag-btn" data-id="1">
                    <i class="fas fa-shopping-cart"></i>
                    Add to bag
                </button>
            </div>
            <h3>SALOMON</h3>
            <p>E9 Premium Backpack</p>
            <h1>599</h1>
        </article>
        <!-- end of single product-->
        <!-- A single product -->
        <article class="product">
            <div class="img-container">
                <img src="https://i.imgur.com/qJTbRxF.png" alt="product" class="product-img">
                <button class="bag-btn" data-id="1">
                    <i class="fas fa-shopping-cart"></i>
                    Add to bag
                </button>
            </div>
            <h3>SALOMON</h3>
            <p>E9 Premium Backpack</p>
            <h1>599</h1>
        </article>
        <!-- end of single product-->
    </div>
</section>
<!-- End of products -->

<!-- Shopping cart -->
<div class="cart-overlay">
    <div class="cart">
        <span class="close-cart">
            <i class="fas fa-window-close"></i>
        </span>
        <h2>Your cart</h2>
        <div class="cart-content">
            <!-- cart item -->
            <div class="cart-item">
                <img src="https://i.imgur.com/qJTbRxF.png" alt="product"/>
                <div>
                    <h3>SALOMON E9 Premium Backpack</h3>
                    <h4>599kr</h4>
                    <span class="remove-item">Remove</span>
                </div>
                <div>
                    <i class="fas fa-chevron-up"></i>
                    <p class="item-amount">1</p>
                    <i class="fas fa-chevron-down"></i>
                </div>

            </div>
            <!-- end of cart item -->
        </div>
        <div class="cart-footer">
            <h3>Your total: kr <span class="cart-total">0</span></h3>
            <button class="clear-cart banner-btn">Clear cart</button>
        </div>
    </div>
</div>




</body>
</html>