<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="/static/css/store-stylesheet.css"
          th:href="@{/css/store-stylesheet.css}">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" th:src="@{/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png" th:src="@{/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png" th:src="@{/images/favicon/favicon-16x16.png}"><link rel="manifest" href="/static/images/favicon/site.webmanifest">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="products.js"></script>
    <script src="shoppingcart.js"></script>
    <script src="https://kit.fontawesome.com/ea9d0937b1.js" crossorigin="anonymous"></script>


    <script type="application/javascript" src="/static/js/LoadHeaderAndFooter.js" th:src="@{/js/LoadHeaderAndFooter.js}"></script>

</head>
<header>
    <!-- navbar-->
    <div id="header_left">
        <h1 class="main_header">XXS</h1>
        <h2>STORE</h2>
    </div>

    <div id="header_right">
        <h3>All</h3>
        <h4>For men</h4>
        <h4>For women</h4>
        <h4>For dogs</h4>
        <button id="login" type="button">Log in</button>
        <button id="shoppingcart" type="button">
            <i class="fas fa-shopping-cart"></i>
        </button>

    </div>
</header>
<body>
<div id="cart-items"></div>
<div class="all_section">

    <img src = "https://i.imgur.com/0rnLiLf.jpeg" alt="What's in the store">

    <div class="TextOnImage">
        <h1>What's in the store</h1>
        <h2>All</h2>
    </div>

</div>

<div class="popular-products">
    <div class="headline_popular">
        <h2>Popular products</h2>
    </div>
    <!-- cart -->

    <div id="cart-wrap">
        <!-- products list -->
        <div id="cart-products"></div>

        <!-- current cart items -->

    </div>

    <!-- templates -->
    <!-- product cell -->
    <template id="template-product">
        <div class="p-item">
            <img class="p-img"/>
            <div class="p-name"></div>
            <div class="p-desc"></div>
            <div class="p-price"></div>
            <button class="cart p-add">Add To Cart</button>
        </div>
    </template>

    <!-- cart items -->
    <template id="template-cart">
        <div class="c-item">
            <div class="c-name"></div>
            <button class="c-del cart">X</button>
            <input class="c-qty" type="number" min="0"/>
        </div>
    </template>
    <template id="template-cart-checkout">
        <button class="c-empty cart" onclick="cart.nuke()">Empty</button>
        <button class="c-checkout cart" onclick="cart.checkout()">Checkout</button>
    </template>
    <!--<div class="cardsection1">
    <div class="cards">


            <div id="card1">
            <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="E9 Premium Backpack">
            <h5>SALOMON</h5>
            <p>E9 Premium Backpack</p>
            <h2>599</h2>
            </div>
            <div id="card2">
            <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Hiking boots">
            <h5>MAMMUT</h5>
            <p>X100 Hiking Boots 2022</p>
            <h2>899</h2>
            </div>


        </div>

    <div class="cards2">
        <div id="card3">
            <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="All Weather jacket">
            <h5>BERGANS</h5>
            <p>ALLWEATHER Jacket</p>
            <h2>999</h2>
        </div>
        <div id="card4">
            <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Winter sweater">
            <h5>DEVOLD</h5>
            <p>Winter Sweater 2021</p>
            <h2>499</h2>
        </div>
    </div>

    </div>
    <div class="cardsection2">
    <div class="cards3">
        <div id="card5">
            <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="Dog clothes">
            <h5>NIKE</h5>
            <p>Dog Clothes set</p>
            <h2>700</h2>
        </div>
        <div id="card6">
            <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Winter hat">
            <h5>BERGANS</h5>
            <p>Winter Hat</p>
            <h2>200</h2>
        </div>
    </div>
    <div class="cards4">
        <div id="card7">
            <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="Water bottle">
            <h5>NIKE</h5>
            <p>Water Bottle</p>
            <h2>120</h2>
        </div>
        <div id="card8">
            <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Fleece jumper">
            <h5>DEVOLD</h5>
            <p>Fleece Jumper 2021</p>
            <h2>800</h2>
        </div>
    </div>
    </div>-->


</div>
</div>

<div class="for_men">
    <div class="headline_men">
        <h2>For men</h2>
    </div>
    <div class="allcards">
    <div class="cards">

        <div id="card9">
            <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="E9 Premium Backpack">
            <h5>SALOMON</h5>
            <p>E9 Premium Backpack</p>
            <h2>599</h2>
        </div>
        <div id="card10">
            <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Hiking boots">
            <h5>MAMMUT</h5>
            <p>X100 Hiking Boots 2022</p>
            <h2>899</h2>
        </div>
    </div>
        <div class="cards2">
        <div id="card11">
            <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="All Weather jacket">
            <h5>BERGANS</h5>
            <p>ALLWEATHER Jacket</p>
            <h2>999</h2>
        </div>
        <div id="card12">
            <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Winter sweater">
            <h5>DEVOLD</h5>
            <p>Winter Sweater 2021</p>
            <h2>499</h2>
        </div>
        </div>

    </div>
</div>

<div class="for_women">
    <div class="headline_women">
        <h2>For women</h2>
    </div>
    <div class="allcards2">
    <div class="cards">

        <div id="card13">
            <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="E9 Premium Backpack">
            <h5>SALOMON</h5>
            <p>E9 Premium Backpack</p>
            <h2>599</h2>
        </div>
        <div id="card14">
            <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Hiking boots">
            <h5>MAMMUT</h5>
            <p>X100 Hiking Boots 2022</p>
            <h2>899</h2>
        </div>
    </div>
    <div class="cards2">
        <div id="card15">
            <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="All Weather jacket">
            <h5>BERGANS</h5>
            <p>ALLWEATHER Jacket</p>
            <h2>999</h2>
        </div>
        <div id="card16">
            <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Winter sweater">
            <h5>DEVOLD</h5>
            <p>Winter Sweater 2021</p>
            <h2>499</h2>
        </div>
    </div>

    </div>
    </div>
</div>

<div class="fordogs">
    <div class="headline_dogs">
        <h2>For dogs</h2>
    </div>
    <div class="allcards3">
    <div class="cards">

        <div id="card17">
            <img class="product_cards" src="https://i.imgur.com/qJTbRxF.png" alt="Dog clothes">
            <h5>NIKE</h5>
            <p>Dog Clothes set</p>
            <h2>399</h2>
        </div>
        <div id="card18">
            <img class="product_cards" src="https://i.imgur.com/xjhKakE.png" alt="Dog backpack">
            <h5>MAMMUT</h5>
            <p>Dog Backpack</p>
            <h2>499</h2>
        </div>
    </div>
    <div class="cards2">
        <div id="card19">
            <img class="product_cards" src="https://i.imgur.com/NdXQjPx.png" alt="Dog gps collar">
            <h5>DEVOLD</h5>
            <p>Dog GPS Collar</p>
            <h2>1499</h2>
        </div>
        <div id="card20">
            <img class="product_cards" src="https://i.imgur.com/vwNnW8s.png" alt="Dog reflex">
            <h5>NIKE</h5>
            <p>Dog Reflex</p>
            <h2>499</h2>
        </div>

    </div>
    </div>
</div>

<div class="favorite_brands">
    <div class="related_text">
        <h3>We've got products from your favorite brands</h3>
    </div>
    <div class="allimages">
        <div class="related_companies_images1">
            <img class="salomon" src="/static/images/brands/salomon.webp" th:src="@{/images/brands/salomon.webp}">
            <img class="mammut" src="/static/images/brands/mammut.png" th:src="@{/images/brands/mammut.png}">
        </div>
        <div class="related_companies_images2">
            <img class="northface" src="/static/images/brands/northface.jpg" th:src="@{/images/brands/northface.jpg}">
            <img class="bergans" src="/static/images/brands/bergans.jpg" th:src="@{/images/brands/bergans.jpg}">
        </div>
        <div class="related_companies_images3">
            <img class="devold" src="/static/images/brands/devold.png" th:src="@{/images/brands/devold.png}">
            <img class="nike" src="/static/images/brands/nike.jpeg" th:src="@{/images/brands/nike.jpeg}">
        </div>
    </div>
</div>

<footer id="footer"></footer>


</body>
</html>