<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="/static/css/Store-Stylesheet.css"
          th:href="@{/css/Store-Stylesheet.css}">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ea9d0937b1.js" crossorigin="anonymous"></script>

<!--    <script src="shoppingcart.js"></script>-->
    <script type="application/javascript" th:src="@{/js/Store.js}" src="/static/js/Store.js"></script>
    <script type="application/javascript" th:src="@{/js/shoppingcart.js}" src="/static/js/shoppingcart.js"></script>
    <script type="application/javascript" th:src="@{/js/products.js}" src="/static/js/products.js"></script>


    <script type="application/javascript" src="/static/js/LoadHeaderAndFooter.js" th:src="@{/js/LoadHeaderAndFooter.js}"></script>

</head>
<header>
    <!-- navbar-->
    <div id="header_left">
        <a class="main_header" href="Home.html" th:href="@{/home}">XXS</a>
        <h2>STORE</h2>
    </div>

    <div id="header_right">
        <a class="Link_Header" href="Login.html" th:href="@{/login}">
            <button class="Login_and_Register" id="login" type="button">Log in</button>
        </a>
        <button id="shoppingcart" type="button">
            <i class="fas fa-shopping-cart"></i>
        </button>
        <!-- current cart items -->
        <div id="cart-items"></div>
    </div>
</header>
<body>

<div class="all_section">

    <img src = "https://i.imgur.com/0rnLiLf.jpeg" alt="What's in the store">

    <div class="TextOnImage">
        <h1>What's in the store</h1>
    </div>

</div>

<div class="popular-products">
        <h2>Popular products</h2>
</div>


    <!-- cart -->

    <div id="cart-wrap">
        <!-- products list -->
        <div id="cart-products"></div>

    </div>

    <!-- templates -->


<template id="template-product">
    <div class="i-item">
        <img class="i-img"/>
        <div class="i-name"></div>
        <div class="i-desc"></div>
        <div class="i-price"></div>
        <button class="i-add">Add To Cart</button>
    </div>
</template>


    <!-- product cell -->
<h2 class="h2all">All</h2>


    <div id="template-product2">
        <div class="p-item">
            <img class="p-img" alt="product" src="https://picsum.photos/400/300"/>
            <div class="p-name">Lorem ipsum dolor sit.</div>
            <div class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="p-price">123 kr</div>
            <button class="p-add" name="">Add To Cart</button>
        </div>
    </div>

<h2 class="h2men">For men</h2>

    <div id="template-product3">
        <div class="p-men">
            <img class="p-img" alt="product" src="https://picsum.photos/400/300"/>
            <div class="p-name">Lorem ipsum dolor sit.</div>
            <div class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="p-price">123 kr</div>
            <button class="p-add" name="">Add To Cart</button>
        </div>
    </div>

<h2 class="h2women">For women</h2>

    <div id="template-product4">
        <div class="p-women">
            <img class="p-img" alt="product" src="https://picsum.photos/400/300"/>
            <div class="p-name">Lorem ipsum dolor sit.</div>
            <div class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="p-price">123 kr</div>
            <button class="p-add" name="">Add To Cart</button>
        </div>
    </div>

<h2 class="h2dogs">For dogs</h2>
    <div id="template-product5">

        <div class="p-dogs">
            <img class="p-img" alt="product" src="https://picsum.photos/400/300"/>
            <div class="p-name">Lorem ipsum dolor sit.</div>
            <div class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="p-price">124 kr</div>
            <button class="p-add" name="">Add To Cart</button>
        </div>
    </div>

    <!-- cart items -->
    <template id="template-cart">
        <div class="c-item">
            <div class="c-name"></div>
            <button class="c-del cart">X</button>
            <input class="c-qty" type="number" min="0"/>
        </div>
    </template>
    <template id="template-cart-checkout">
        <button class="c-empty cart" onclick="cart.nuke()">Empty</button>
        <button class="c-checkout cart" onclick="cart.checkout()">Checkout</button>
    </template>


<div class="favorite_brands">
    <div class="related_text">
        <h3>We've got products from your favorite brands</h3>
    </div>
    <div class="allimages">
        <div class="related_companies_images1">
            <img class="salomon" src="/static/images/brands/salomon.webp" th:src="@{/images/brands/salomon.webp}">
            <img class="mammut" src="/static/images/brands/mammut.png" th:src="@{/images/brands/mammut.png}">
        </div>
        <div class="related_companies_images2">
            <img class="northface" src="/static/images/brands/northface.jpg" th:src="@{/images/brands/northface.jpg}">
            <img class="bergans" src="/static/images/brands/bergans.jpg" th:src="@{/images/brands/bergans.jpg}">
        </div>
        <div class="related_companies_images3">
            <img class="devold" src="/static/images/brands/devold.png" th:src="@{/images/brands/devold.png}">
            <img class="nike" src="/static/images/brands/nike.jpeg" th:src="@{/images/brands/nike.jpeg}">
        </div>
    </div>
</div>

<footer id="footer"></footer>


</body>
</html>