<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf - Hello World</title>

    <!--    Link will try to use th:href first, but if it won't work it will try href.-->
    <!--    The th:ref is a link to a stylesheet for the application and href will NOT work on the backend side when it is running.-->
    <!--    BUT th:ref does NOT work when it is not running, but href will work.-->
    <!--    That is why we have both-->
    <link th:href = "@{/css/thymeleaf-stylesheet.css}" rel="stylesheet" href="/static/css/thymeleaf-stylesheet.css">
</head>
<body>
<h1 th:text="'Thymeleaf: ' + ${message}">This text will only show if the html is displayed not through backend</h1>

<p>This is text should be yellow if the html is linked correctly</p>

<button type="button" th:onclick="link()" onclick="link()">Show Alert</button>

<!--    The same thing that happens to the link element applies here. -->
<!--    Also includes function call as you can see on the button element-->
<script type="application/javascript" th:src="@{/js/thymeleaf.js}" src="/static/js/thymeleaf.js"></script>
</body>
</html>