@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */

    /*font-size: 1rem;*/
}
p{
    font-size: 2rem;
}

h, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

header{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 4rem;
    font-weight: 800;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;

    align-items: center;
    letter-spacing: -0.015em;

    color: #476F57;;

    border: 1px solid rgba(0, 0, 0, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

#header_left h1 {
    font-weight: 800;
}

#header_right {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
#login, #register {
    font-family: 'Montserrat', sans-serif;
    width: 6rem;
    color: #044c1f;
    background: #D5F3CA;
    border-radius: 10px;
    font-size: 1.3rem;

}

#register{
    background-color: #044c1f;
    color: white;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EEFFE8;
}

img{
    border-radius: 25px;
}
.Landing_Page{
    width: 80%;
    margin: 4% 10% 5% 10%;

}

.Landing_Page img{
    width: 100%;
}
/* This is temporary, needs to be fixed later */
.Text_wrapper{
    width: 100%;
    position: absolute;
    top: 70%;
    left: 0;
    color: white;
    text-shadow: black;

}

.Text_wrapper h1{
    text-align: center;

}

h1{
    font-size: 6rem;
    font-weight: 700;

}

h2{
    text-align: center;
    font-size: 2rem;

}




.hero_section{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 100px;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-products{
    background-color: #DCFBD0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.cards{
    text-align: center;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
    padding-top: 1rem;
}
/*Webstorm claims this is redundant. but is necessary for the card to be properly rendered for the site */
.product_cards{
    border-radius: 25px 25px;
}


.card1{
    background-color: #5bc91c;
    border-radius: 25px;
}
.card2 {
    background-color: #5bc91c;
    border-radius: 25px;
}

.card3 {
    background-color: #5bc91c;
    border-radius: 25px;
}
.card4 {
    background-color: #5bc91c;
    border-radius: 25px;
}

.popular_button{
    margin: auto;
    width: 110px;
    height: 40px;
    font-size: 10px

}



.product\&services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
    align-self: center;
    background-color: #EEFFE8;
    gap: 2rem;


}
.about_us{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    background-color: #DCFBD0;
    gap: 2rem;

}
.Related_companies{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    background-color: #EEFFE8;
    gap: 2rem;
}
.related_text{
    text-align: left;
}

.person_cards{
    display: flex;
    column-gap: 64px;
    justify-content: center;
    padding-top: 2rem;


}

.person{
    text-align: center;
}

.person_image{
    border-radius: 50%;
    display: block;
    max-height: 200px;
    max-width: 300px;
}

.customer_feedback{
    background-color: #DCFBD0;
    padding-top: 2rem;
}


.for_dogs{
    display: flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #EEFFE8;
    gap: 2rem;
}
#button1{
    width: 110px;
    height: 40px;
    font-size: 10px;
    background-color: #044c1f;
    color: white;
    border-radius: 10px;
}

#button2{
    width: 110px;
    height: 40px;
    font-size: 10px;
    background-color: white;
    color: #044c1f;
    border-radius: 10px;
}


footer{
    display: flex;
    gap: 400px;
    justify-content: center;
    background-color: #DCFBD0;
}
#footer_left{
    display: flex;
    gap: 100px;
}
#footer_right{
    display: flex;
    gap: 200px;
}