h1{
    text-align: left;
}
body{
    background-color: #EEFFE8;
}

h2{
    text-align: center;
}
.hero_section{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 100px;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-products{
    background-color: #DCFBD0;
}


.cards{
    text-align: center;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
}


.card1{
    background-color: #beffbe;
}
.card2 {
    background-color: #beffbe;
}

.card3 {
    background-color: #beffbe;
}
.card4 {
    background-color: #beffbe;
}

.popular_button{
    margin: auto;
    width: 110px;
    height: 40px;
    font-size: 10px

}



.product\&services{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    position: relative;
    align-self: center;
    background-color: #EEFFE8;


}
.about_us{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    background-color: #DCFBD0;

}
.Related_companies{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    background-color: #EEFFE8;
}
.related_text{
    text-align: left;
}
.for_dogs{
    display: flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #DCFBD0;
}
#button1{
    width: 110px;
    height: 40px;
    font-size: 10px;
}

#button2{
    width: 110px;
    height: 40px;
    font-size: 10px;
}


footer{
    display: flex;
    gap: 400px;
    justify-content: center;
}
#footer_left{
    display: flex;
    gap: 200px;
}
#footer_right{
    display: flex;
    gap: 200px;
}