@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/***********************************
     General setup Section!
***********************************/

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

body{
    background-color: #EEFFE8;
}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}



h1{
    font-size: 6rem;
    font-weight: 700;

}

h2{
    text-align: center;
    font-size: 2rem;

}

/***********************************
            Hero Section!
***********************************/

.hero_section {
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.hero_section img {
    width: 100%;
    position: relative;
    bottom: 45rem;
}

.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    color: white;
    font-max-size: 10rem;
    font-style: normal;
    font-weight: 200;

    text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                 -1px 1px 0 black,
                 1px 1px 0 black;
}

/***********************************
           content Section!
***********************************/

.content img{
    border-radius: 2.5rem;
    width: 50rem;
    height: 35rem;
}

.content_item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    gap: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#Location{
   background-color: rgba(255, 255, 255, 0.73);
    }
