@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

header {
    background-color: white;
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;

    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;




    border: 1px solid rgba(0, 0, 0, 0.8);


}




#header_left h1 {
    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header_left h2 {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: #8A8A8A;
    margin-top: -1rem;
}

#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    color: #476F57;
}

#header_right h4 {
    font-weight: 500;
}



#login, #register {
    width: 130px;
    height: 40px;
    color: #044c1f;
    background: #D5F3CA;
    border-radius: 10px;
    font-size: 1.4rem;

}


#register{
    background-color: #044c1f;
    color: white;
}

h1{
    font-size: 6rem;
    font-weight: 700;

}

h2{
    text-align: center;
    font-size: 2rem;

}

.all_section {
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.all_section img {
    width: 100%;
    position: relative;
    bottom: 45rem;
}


.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    color: white;
    font-max-size: 10rem;
    font-style: normal;
    font-weight: 200;

    text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                 -1px 1px 0 black,
                 1px 1px 0 black;
}

body{
    background-color: #EEFFE8;
}

.content img{
    border-radius: 2.5rem;
    width: 50rem;
    height: 35rem;
}

.Dedicated_and_helpful{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    gap: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.Location{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.73);
    gap: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.OurProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
    gap: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

footer {
    background-color:black;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /*height: 34rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

li {
    font-size: 1.5rem;
    list-style-type: none;
}

.contact_info {
    display: flex;
    padding-top: 2rem;
    gap: 5rem;
}

#footer_left, #footer_right{
    display: flex;
    gap: 25%;

}
#footer_links {
    display: flex;
    align-items: center;
    gap: 5rem;

}

.Link_Footer {
    font-size: 2rem;

    font-weight: 530;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

footer h1 {
    font-size: 4rem;
    font-weight: 800;
}
footer h2 {
    font-size: 1.5rem;
    font-weight: 530;
}
#footer_logo{
    color: #47fc47;
}

/* ANIMATIONS AND LINKS */
#login:hover, #register:hover {
    color: #044c1f;
    background: white;
}

.Link_Header:not(:hover){
    color: #044c1f;
}

.Link_Footer:not(:hover) {
    color: white;

}

.Link_Footer:hover, .Link_Header:hover {
    color: #47fc47;
}