@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/***********************************
        General setup Section!
***********************************/

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

/***********************************
          FAQ Hero Section!
***********************************/

.faq_hero_section{
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.faq_hero_section img {
    width: 100%;
    position: relative;
    bottom: 45rem;
}

.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    font-weight: 200;
    color: white;
    /* uses text shadow to create text border. */
    text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    font-size: 6rem;
    font-weight: 200;
}

/***********************************
       FAQ Paragraph Section!
***********************************/

.faq_section{
    background-color: #F8FFF5;
}

.faq-paragraph-section {

    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    text-align: center;

    gap: 10rem;
    padding-bottom: 10rem;
}



