
/***********************************
        General setup Section!
***********************************/

footer {
    background-color:black;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /*height: 34rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

footer h1 {
    font-size: 4rem;
    font-weight: 800;
}

footer h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 530;
}

/***********************************
           left Section!
***********************************/

#footer_logo{
    color: #47fc47;
}

.contact_info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    gap: 5rem;
}

li {
    font-size: 1.5rem;
    list-style-type: none;
}

#footer_left, #footer_right{
    display: flex;
    gap: 25%;

}

/***********************************
           right Section!
***********************************/

#footer_links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;

}

.Link_Footer {
    font-size: 2rem;

    font-weight: 530;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

@media all and (max-width: 1000px) {

    #footer_links {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding-top: 2rem;
    }

}

/***********************************
        Animation Section!
***********************************/

#login:hover, #register:hover {
    color: #044c1f;
    background: white;
}

.Link_Header:not(:hover){
    color: #044c1f;
}

.Link_Footer:not(:hover) {
    color: white;

}

.Link_Footer:hover, .Link_Header:hover {
    color: #47fc47;
}