footer {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /*height: 34rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;


    color: white;


}

.contact_info {
    display: flex;
    padding-top: 2rem;
    gap: 5rem;

}

li {
    font-size: 1.5rem;
    list-style-type: none;


}

#footer_links {
    display: flex;
    gap: 5rem;
    align-items: center;

}

#footer_links h2 {
    font-size: 2rem;
}



#footer_left, #footer_right{
    display: flex;
    gap: 25%;

}

footer h1 {
    color: #47fc47;
    font-size: 4rem;
    font-weight: 800;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 530;
}