@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/***********************************
        General setup Section!
***********************************/

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}


h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

body{

    background-color: white;


}

h1{
    font-size: 6rem;
    font-weight: 700;

}

h2{
    text-align: center;
    font-size: 2rem;

}

/***********************************
        Hero Section!
***********************************/

.hero_section {
    max-height: 20rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.hero_section img {
    width: 100%;
    position: relative;
    bottom: 45rem;
}

.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    color: white;
    font-max-size: 10rem;
    font-style: normal;
    font-weight: 700;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}


/***********************************
        text Section!
***********************************/

#gallery-info{
    text-align: center;
    padding: 3rem 15% 3.5rem 15%;

}

em{
    font-size: 1.8rem;
    font-weight: bold;
}

/***********************************
           Image Section!
***********************************/

.carousel{
    width: 50%;
    margin: auto;
    height: 70vh;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-bottom: 5rem;
}

.slide[data-active]{
    opacity: 1;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 0.1rem solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}
