@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


/********************
    HTML setup
********************/
* {
    /*This makes the css easier to work with*/
    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */

}
/********************
    Header
********************/
header {
    background-color: white;
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 0;

    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;


    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.8);


}

#header_left h1 {
    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#header_left h2 {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: #8A8A8A;
    margin-top: -1rem;
}

#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    color: #476F57;
}

.Link_Header{
    font-size: 2rem;

    font-weight: 530;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}



.profileButton {
    height: 3rem;
    width: 3rem;
}


#login, #register {
    width: 130px;
    height: 40px;
    background: #044c1f;
    color: white;
    border-radius: 10px;
    font-size: 1.4rem;

}

.Link_Header:not(:hover){
    color: #044c1f;

}

#header_right button:hover{
    color: black;
    background: #47fc47;
}


