@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


/********************************
    HTML setup / General setup
********************************/
* {
    /*This makes the css easier to work with*/
    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */

}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

h1{
    font-size: 6rem;
    font-weight: 700;
}

h2{
    text-align: center;
    font-size: 2rem;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

/********************
    Hero Section
********************/
.Landing_Page img{
    width: 100%;
}

.Landing_Page {
    max-height: 70rem;
    overflow: hidden;
    position: relative;
    /*text-align: center;*/
    /*color: white;*/
}

.TextOnImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    font-max-size: 10rem;
    font-style: normal;

    font-weight: 200;
    color: white;
    /* uses text shadow to create text border. */
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.TextOnImage button {
    background: #476F57;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
}

/******************************
    popular products Section!
******************************/

.popular-products{
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    padding: 4rem 6.3rem 4rem 6.3rem;
}

.card_section{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 6rem;

    flex-wrap: wrap;
    flex-grow: 0;
}

.card_section h2 {
    color: #476F57;
}

.card_section img{
    margin: 3rem;
}

.product_image {
    overflow: hidden;
    width: 20rem;
    height: 20rem;
}

.popular-products h2 {
    padding-bottom: 2rem;
    font-size: 4rem;
}

.popular-products h5, .card_section h2, .popular-products p {
    margin-left: 2rem;
    text-align: left;
}

.cards {
    background-color: #F0F0F0;
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popular_button{
    margin: auto;
    position: relative;
    right: 1%;
    background: #476F57;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
}

/******************************
        Gallery Section!
******************************/

.gallery_page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    align-self: center;
    background-color: #F8FFF5;
    gap: 6rem;
    padding: 10rem 7rem 10rem 7rem;
}

.gallery_page img{
    height: 34rem;
    width: 65rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
}

.gallery_page h3 {
    font-size: 4rem;
    font-weight: lighter;
    padding-bottom: 2rem;
}

.gallery_page button {
    background: #476F57;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 15rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
}

/******************************
        About us Section!
******************************/

.about_us{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap-reverse;
    background-color: rgb(255, 255, 255);
    gap: 6rem;
    padding: 10rem 7rem 10rem 7rem;
}

.about_us img {
    height: 34rem;
    width: 65rem;
    border-radius: 2.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about_us h3{
    font-size: 4rem;
    font-weight: lighter;
    padding-bottom: 2rem;
}

.about_us button {
    background: #476F57;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 15rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
}

/***********************************
     Related companies Section!
***********************************/

.Related_companies{
    background-color: #F8FFF5;
    padding: 5rem 14rem 5rem 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 20rem;
    text-align: center;
}

.Related_companies h3 {
    font-size: 4rem;
    font-weight: lighter;
}

.related_companies_images img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/***********************************
     Customer feedback Section!
***********************************/

.customer_feedback{
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.customer_feedback h2{
    padding-top: 3rem;
    font-weight: lighter;
    font-size: 3.5rem;
}

.person_cards_section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 2rem;

    column-gap: 24px;
    justify-content: space-evenly;
    padding-top: 7rem;
}

.person_image{
    max-height: 250px;
    max-width: 350px;
    margin-right: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
}

/***********************************
     Customer feedback Section!
***********************************/

.for_dogs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
    padding-bottom: 20rem;

    background-color: #F8FFF5;
    gap: 2rem;
}

.for_dogs h2{
    font-size: 4rem;
    font-weight: 400;
}
.for_dogs button {
    background: #476F57;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 15rem;
    height: 5rem;
    min-height: 5rem;
    min-width: 15rem;
    
    border-radius: 1rem;
    margin-left: 20rem;
}

/***********************************
     Customer feedback Section!
***********************************/

button:hover {
    color: black;
    background: #47fc47;
}