@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


/********************
    HTML setup
********************/
* {
    /*This makes the css easier to work with*/
    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    font-family: 'Montserrat', sans-serif;
    color: #3e3e3e;

    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */

}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}


h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

/********************
    Header
********************/
header {
    background-color: white;
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;

    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;


    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.8);


}

.logo {
    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.slogan {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-weight: 400;
    color: #8A8A8A;
    margin-top: -1rem;
}

#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    color: #476F57;
}

#header_right a {
    font-size: 1.6rem;
    color: #325c39;
}

.profileButton {
    height: 3rem;
    width: 3rem;
}


#login, #register {
    width: 130px;
    height: 40px;
    color: white;
    background: #044c1f;
    border-radius: 10px;
    font-size: 1.4rem;

}

/********************
    Hero Section
********************/
.Landing_Page img{
    width: 100%;
}

.Landing_Page {
    max-height: 70rem;
    overflow: hidden;
    position: relative;
    /*text-align: center;*/
    /*color: white;*/
}

.TextOnImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    font-max-size: 10rem;
    font-style: normal;

    font-weight: 200;
    color: white;
    /* uses text shadow to create text border. */
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.TextOnImage button {
    background: #044c1f;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;



}


h1{
    font-size: 6rem;
    font-weight: 700;

}

h2{
    text-align: center;
    font-size: 2rem;

}


button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-products{
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    padding-left: 6.3rem;
    padding-right: 6.3rem;

}

.allcards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 6rem;
    flex-wrap: wrap;

}

.cards1{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 6rem;

    flex-wrap: wrap;
    flex-grow: 0;


}

.cards2 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 6rem;

    flex-wrap: wrap;
    flex-grow: 0;
}



/*Webstorm claims this is redundant. but is necessary for the card to be properly rendered for the site */

.product_cards {
    overflow: hidden;
    width: 20rem;
    height: 20rem;

}

.popular-products h2 {
    padding-bottom: 2rem;
    font-size: 4rem;

    margin-left: 2rem;
}

.allcards {
    margin-bottom: 1rem;
}


.popular-products h5, .allcards h2, .popular-products p {
    margin-left: 2rem;
    text-align: left;
}

.allcards h2 {
    color: #476F57;
}


#card1, #card2, #card3, #card4 {
    background-color: #F0F0F0;
    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.cards img {
    border-bottom: 0.1rem #325c39 solid;
    background-color: #E5F6DF;
}

.cards2 img, .cards1 img{
    margin: 3rem;
}





.popular_button{
    margin: auto;
    position: relative;
    right: 1%;
    background: #044c1f;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
    display: flex;

}



.gallery_page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    align-self: center;
    background-color: #F8FFF5;
    gap: 6rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 7.95rem;
    padding-right: 7.95rem;
}

.gallery_page img{
    height: 34rem;
    width: 65rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery_page h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}


.gallery_page button {
    background: #044c1f;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 15rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-top: 5rem;

}

.about_us{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap-reverse;
    background-color: rgb(255, 255, 255);
    gap: 6rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.about_us img {
    height: 34rem;
    width: 65rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about_us h3{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.about_us button {
    background: #044c1f;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 15rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-top: 5rem;

}



.allimages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.Related_companies{
    background-color: #F8FFF5;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 14rem;
    padding-left: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 20rem;
}

.Related_companies h3 {
    font-size: 4rem;
    font-weight: lighter;
}




.related_companies_images1 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.related_companies_images2 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.related_companies_images3 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.related_text{
    text-align: center;
}

.customer_feedback h2{
    padding-top: 3rem;
    font-weight: lighter;
    font-size: 3.5rem;
}

.person_cards {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 2rem;

    column-gap: 24px;
    justify-content: center;
    padding-top: 7rem;
}


.person, .person2, .person3{
    text-align: left;
}

.person h5 {
    padding-top: 4.5rem;
}

.person3 h5 {
    padding-top: 2.3rem;
}



.person_image1{
    max-height: 250px;
    max-width: 350px;
    margin-right: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
}

.person_image1 h5 {

}


.person_image2{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    max-height: 250px;
    max-width: 350px;
    margin-right: 1rem;
    float: left;
}

.person_image3{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    max-height: 250px;
    max-width: 350px;
    margin-right: 1rem;
    float: left;
}



.customer_feedback{
    background-color: rgb(255, 255, 255);
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.product-and-services img,.about_us img {
    border-radius: 2.5rem;
}


.for_dogs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
    padding-bottom: 20rem;

    background-color: #F8FFF5;
    gap: 2rem;
}

.for_dogs h2{
    font-size: 4rem;
    font-weight: 400;
}
.for_dogs button {

    background: #044c1f;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    width: 15rem;
    height: 5rem;
    min-height: 5rem;
    min-width: 15rem;
    
    border-radius: 1rem;
    margin-left: 20rem;
}




footer {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /*height: 34rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;


    color: white;


}

.contact_info {
    display: flex;
    padding-top: 2rem;
    gap: 5rem;

}

li {
    font-size: 1.5rem;
    list-style-type: none;


}

#footer_links {
    display: flex;
    gap: 5rem;
    align-items: center;

}

#footer_links h2 {
    font-size: 2rem;
}



#footer_left, #footer_right{
    display: flex;
    gap: 25%;

}

footer h1 {
    color: #47fc47;
    font-size: 4rem;
    font-weight: 800;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 530;
}

/* Animations */
button:hover {

    color: #044c1f;
    background: white;

}
#login:hover, #register:hover{

    color: #044c1f;
    background: white;

}

