

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.register_form h2 {
    font-size: 8rem;
    padding-bottom: 10rem;
}

em {
    font-size: 8rem;
    color: #044c1f;
    font-family: 'Montserrat', sans-serif;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;


    padding: 10rem 0 10rem 0;



}


.register_form_element {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 75rem;
    padding-bottom: 8rem;



}

.register_form_element_password {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 75rem;
    gap: 1rem;
    padding-bottom: 2rem;



}



label {
    font-size: 4rem;
}

.text_input {
    width: auto;
    height: auto;
    font-size: 4rem;
    border-style: solid;
    border-color: black;
}

#register-form-button {


    text-align: center;
    width: 30rem;
    height: 5rem;

    margin-top: 10rem;


    font-size: 2rem;
    color: white;
    background-color: #476F57;
    border-radius: 1rem;

}

.register_location {
    display: flex;
    border-top: 20rem;
}



.register_form #register-form-button:hover {
    background-color: #47fc47;
    color: black;
}

#footer {



}



