@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.8rem;
}

h1{
    font-size: 6rem;
    font-weight: 700;
}

h2{

    font-size: 2rem;
}

h3, h4, h5 {
    font-size: 1.8rem;
}

header {
    background-color: white;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0.5rem 1rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.8);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
}

#header_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#header_left a {
    font-size: 6rem;
    text-decoration: none;

    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#header_left h2 {
    font-size: 3rem;
    color: #476F57;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
#header_right h3 {
    color: #476F57;
}
#header_right h4 {
    font-weight: 500;
    color: #476F57;
}
#login {
    width: 130px;
    height: 40px;
    color: #044c1f;
    background: #D5F3CA;
    border-radius: 10px;
    font-size: 1.4rem;
}
#shoppingcart {
    width: 130px;
    height: 40px;
    border: none;
    background: white;
    color: #476F57;
    text-align: left;
    font-size: 1.4rem;
}
/* ---------------- shopping cart simpler version ------------- */
#cart-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}
#cart-products, #cart-items {

    margin-top: 0;
    margin-bottom: 5rem;
}
#cart-items {
    width: 120px;
}
input.cart, button.cart {
    width: 8rem;
    height: 2rem;
    background: #476F57;
    color: #F0F0F0;
    border: none;

    padding: 0.5rem 0.75rem;
    font-weight: normal;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1.7rem;
}

/* ---------- product list ------------- */
#template-product2, #template-product3, #template-product4, #template-product5 {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    column-gap: 60px;
    row-gap: 60px;
    padding: 5rem 15rem;
}

#cart-products {
    display: flex;
    column-gap: 60px;
    row-gap: 60px;
    min-width: 20rem;
    align-items: center;
}

.h2all, .h2men, .h2men, .h2women, .h2dogs {
    text-align: center;
    font-size: 3rem;
}

.p-item, .i-item ,.p-men, .p-women,.p-dogs {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 40rem;
    min-width: 26rem;
    max-width: 30rem;
}

.p-item, .i-item img{
    display: flex;
}

.p-name, .i-name, .p-price, .i-price {
    font-weight: 700;
}
.p-name, .i-name, .p-desc, .i-desc, .p-price, .i-price {
    margin: 5px 0;
    text-align: center;
    padding-left: 1.1rem;
}
.p-name , .i-name {
    padding-top: 1rem;
    font-size: 2.4rem;

}
.p-desc, .i-desc {

    font-size: 1.8rem;
}
.p-price, .i-price {
    color: #476F57;
    font-size: 4rem;
    padding-bottom: 1rem;

}
.p-add, .i-add {
    font-size: 1.3rem;
    width: 10rem;
    height: 3rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
}

/* ----------- current shopping cart ------------ */
#cart-items {
    font-size: 2rem;
    z-index: 1000;
    /*position: absolute;*/
    position: absolute;
    right: 0.05rem;
    top: 3rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    background: white;

}

.c-item {
    padding: 10px 0;
    display: flex;

}
.c-name, .c-total {
    font-size: 1.5rem;
    font-weight: 700;
}
.c-name, .c-total, button.c-empty, button.c-checkout {
    /*width: 100%;*/
    margin-left: 2rem;
}


.c-total, button.c-empty, button.c-checkout { margin-top: 10px; }
.c-del {
    width: 25%; }
.c-qty {
    width: 25%;
    margin-left: 2rem;
    font-size: 1.2rem;
}
.c-empty, .c-checkout { width: 100%; }

.c-del {
    width: 30%;
}

.fa-shopping-cart {
    font-size: 2rem;

}
.all_section {
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.TextOnImage h1 {
    color: white;
    font-max-size: 10rem;
    font-style: normal;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}
.popular-products {
    padding-top: 4rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 5rem;
}
.popular-products h2 {
    font-size: 5rem;
}
.favorite_brands{
    background-color: white;
    padding: 5rem 8rem 5rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 20rem;
}
.related_text h3 {
    font-size: 4rem;
    font-weight: lighter;
}
.related_companies_images1 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.related_companies_images2 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.related_companies_images3 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/************************************
        Animations an scaling
*************************************/

#header_left a:hover {
    color: #47fc47;
}

.p-add:hover {
    background-color: #47fc47;
    color: black;
}

.i-add:hover {
    background-color: #47fc47;
    color: black;
}

.c-empty:hover {
    background-color: #47fc47;
    color: black;
}

.c-checkout:hover {
    background-color: #47fc47;
    color: black;
}

.c-del:hover {
    background-color: #47fc47;
    color: black;
}

@media screen and (max-width: 1200px) {
    #cart-products {
        display: flex;
        flex-direction: column;
    }

    #template-product2, #template-product3, #template-product4, #template-product5{
        flex-direction: column;
    }

    #cart-wrap{
        justify-content: center;
        align-items: center;

    }
}