@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

p {
    font-size: 1.8rem;
}

h1{
    font-size: 6rem;
    font-weight: 700;
}

h2{
    text-align: center;
    font-size: 2rem;
}

h3, h4, h5 {
    font-size: 1.8rem;
}

header {
    background-color: white;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.8);


}


#header_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#header_left h1 {
    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header_left h2 {
    font-size: 3rem;
    color: #476F57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    color: #476F57;
}

#header_right h4 {
    font-weight: 500;
}

#login, #shoppingcart {
    width: 130px;
    height: 40px;
    color: #044c1f;
    background: #D5F3CA;
    border-radius: 10px;
    font-size: 1.4rem;
}

#shoppingcart{
    background-color: #044c1f;
    color: white;
}

.all_section {
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.all_section img {
    width: 100%;
    position: relative;
}

.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    color: white;
    font-max-size: 10rem;
    font-style: normal;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.TextOnImage h2 {
    color: white;
    font-size: 3rem;
    margin-top: -15%;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.TextOnImage button {
    background: #476F57;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;

}

.headline_popular {
    padding-bottom: 2rem;
}

.popular-products {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
    justify-content: center;
    padding-left: 6.3rem;
    padding-right: 6.3rem;



    background-color: rgb(255, 255, 255);
}

.cards{
    text-align: center;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
    padding-top: 0rem;
    margin-bottom: 1rem;
    gap: 6rem;

}

.cards2 {
    text-align: center;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
    padding-top: 0rem;
    margin-bottom: 1rem;
    gap: 6rem;
}

.headline_popular h2 {
    font-size: 5rem;

}

.popular-products h5, .cards h2, .cards2 h2, .popular-products p, .for_men h5, .for_men p, .for_women h5, .for_women p, .fordogs h5, .fordogs p {
    margin-left: 2rem;
    text-align: left;
}

.cards2 img, .cards img{
    margin: 3rem;
}

.popular-products h2 {
    padding-bottom: 2rem;

}

.cards h2 {
    color: #476F57;
    font-size: 4rem;
}

.cards2 h2 {
    color: #476F57;
    font-size: 4rem;
}

.for_men .cards h2 {
    font-size: 4rem;
}



#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16, #card17, #card18, #card19, #card20  {
    background-color: #F0F0F0;
    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cards img, .cards2 img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 20rem;
    height: 20rem;


}

.for_men {
    background-color: #F8FFF5;
    padding-top:4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.for_men h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.for_women {
    padding-top: 4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.for_women h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.fordogs {
    background-color: #F8FFF5;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.fordogs h2{
    padding-bottom: 2rem;
    font-size: 4rem;
}

.favorite_brands {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10rem;
    padding: 10rem;

}

.favorite_brands h3 {
    font-size: 3rem;
}

.favorite_brands_images img{
    margin: 3rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    display: flex;
    justify-content: center;


    /*height: 34rem;*/
    padding-top: 7rem;
    padding-bottom: 7rem;
    gap: 90rem;
    color: white;



}

#footer_mid {
    position: absolute;


}

.contact_info {
    display: flex;
    padding-top: 10rem;
    gap: 5rem; }

li {
    font-size: 1.5rem;
    list-style-type: none;


}

#footer_links {
    display: flex;
    padding-top: 10rem;
    gap: 5rem;
}

#footer_links h2 {
    font-size: 2rem;
}



#footer_left, #footer_right{
    display: flex;

    gap: 25%;

}




footer h1 {
    color: #47fc47;
    font-size: 4rem;
    font-weight: 800;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 530;
}