@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

p {
    font-size: 1.8rem;
}

h1{
    font-size: 6rem;
    font-weight: 700;
}

h2{

    font-size: 2rem;
}

h3, h4, h5 {
    font-size: 1.8rem;
}

header {
    background-color: white;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    border: black;
    position: sticky;
    top: 0;
    z-index: 999;
    


}


#header_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#header_left h1 {
    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header_left h2 {
    font-size: 3rem;
    color: #476F57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

#header_right h3 {
    color: #476F57; 
}

#header_right h4 {
    font-weight: 500;
    color: #476F57; 
}

#login {
    width: 130px;
    height: 40px;
    color: #044c1f;
    background: #D5F3CA;
    border-radius: 10px;
    font-size: 1.4rem;
}

#shoppingcart {
    width: 130px;
    height: 40px;
    border: none;
    background: white;
    color: #476F57;
    text-align: left;
    
    font-size: 1.4rem;
}

/* ---------------- shopping cart simpler version ------------- */
#cart-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

}

#cart-wrap2 {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

}


#cart-products, #cart-items {
    /*padding: 10px;*/
    margin-top: 0rem;
    margin-bottom: 5rem;
}


#cart-products {
    flex-grow: 1;
}

#cart-products2{
    /*padding: 10px;*/
    margin-top: 0rem;
    margin-bottom: 5rem;
}


#cart-products2 {
    flex-grow: 1;
}


#cart-items {
    width: 120px;
}

button.cart.p-add:hover {
    color: #b2cbae;
}

input.cart, button.cart {

    width: 8rem;
    height: 2rem;
    background: #476F57;
    color: #F0F0F0;
    border: none;

    padding: 0.5rem 0.75rem;
    font-weight: normal;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1.7rem;
}

/* ---------- product list ------------- */
#cart-products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /*repeat(auto-fit, minmax(26rem, 1fr));*/
    grid-gap: 0px;
    column-gap: 50px;
    row-gap: 40px;
    min-width: 20rem;
    align-items: center;

    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/
}

#cart-products2 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /*repeat(auto-fit, minmax(26rem, 1fr));*/
    grid-gap: 0px;
    column-gap: 50px;
    row-gap: 40px;
    min-width: 20rem;
    align-items: center;

    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/
}


.p-item {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #F0F0F0;
    margin: 0.3rem 0;

}
.p-img {
    max-width: 150px;
}
.p-name, .p-price {
    font-weight: 700;
}
.p-name, .p-desc, .p-price {
    margin: 5px 0;
    text-align: center;
    padding-left: 1.1rem;
}
.p-name {
    padding-top: 1rem;
    font-size: 2.4rem;

}
.p-desc {
    /*color: #7c7979;*/
    font-size: 1.8rem;
}
.p-price {
    color: #476F57;
    font-size: 4rem;
    padding-bottom: 1rem;

}
.p-add {
    width: 100%;
    margin-right: 1rem;
}

#cart-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

}
#cart-products, #cart-items {
    /*padding: 10px;*/
    margin-top: 0rem;
    margin-bottom: 5rem;
}


#cart-products {
    flex-grow: 1;
}
#cart-items {
    width: 120px;
}

button.cart.p-add:hover {
    color: #b2cbae;
}

input.cart, button.cart {

    width: 8rem;
    height: 2rem;
    background: #476F57;
    color: #F0F0F0;
    border: none;

    padding: 0.5rem 0.75rem;
    font-weight: normal;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1.7rem;
}

/* ---------- product list ------------- */
#cart-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    /*repeat(auto-fit, minmax(26rem, 1fr));*/
    /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
    grid-gap: 0px;
    column-gap: 50px;
    row-gap: 40px;
    min-width: 20rem;
    align-items: center;

    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/

}

#cart-products2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    /*repeat(auto-fit, minmax(26rem, 1fr));*/
    /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
    grid-gap: 0px;
    column-gap: 50px;
    row-gap: 40px;
    min-width: 20rem;
    align-items: center;

    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/

}


.p-men {


}
.p-item {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #F0F0F0;
    margin: 0.3rem 0;

}

p-item2 {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #F0F0F0;
    margin: 0.3rem 0;

}



.p-img {
    max-width: 150px;
}
.p-name, .p-price {
    font-weight: 700;
}
.p-name, .p-desc, .p-price {
    margin: 5px 0;
    text-align: center;
    padding-left: 1.1rem;
}
.p-name {
    padding-top: 1rem;
    font-size: 2.4rem;

}
.p-desc {
    /*color: #7c7979;*/
    font-size: 1.8rem;
}
.p-price {
    color: #476F57;
    font-size: 4rem;
    padding-bottom: 1rem;

}
.p-add {
    width: 100%;
    margin-right: 1rem;
}

button.cart.p-add {
    font-size: 1.3rem;
    width: 10rem;
    height: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}


/* ----------- current shopping cart ------------ */
#cart-items {
    font-size: 2rem;
    z-index: 1000;
    /*position: absolute;*/
    position: absolute;
    right: 0.05rem;
    top: 3rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    background: white;

}
.c-item {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.c-name, .c-total {
    font-size: 1.5rem;
    font-weight: 700;
}
.c-name, .c-total, button.c-empty, button.c-checkout {
    /*width: 100%;*/
    margin-left: 2rem;
}
button.c-empty:hover {
    color: #b2cbae;
}

button.c-checkout:hover {
    color: #b2cbae;
}

button.c-del:hover {
    color: #b2cbae;
}

.c-total, button.c-empty, button.c-checkout { margin-top: 10px; }
.c-del {
    width: 25%; }
.c-qty {
    width: 25%;
    margin-left: 2rem;
    font-size: 1.2rem;
}
.c-empty, .c-checkout { width: 100%; }

button.c-del.cart {
    width: 30%;
}

.fa-shopping-cart {
    font-size: 2rem;

}

/* responsive setting */
/*@media screen and (max-width: 1200px) {
    #cart-products {
        grid-template-columns: 100%;
    }
}*/





/* -----------------------Products---------------------- */

/*.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 117rem;
    display: grid;
    /* fr = fractions, allows us to create evenly sized product columns, minmax
      says i would want my specific column to be min 26rem, if there is space, lets use
       1 fraction, if there is not enough space for 4 columns, you will get 3 columns with the same size*/
    /*grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    background: #325c39;
    color: #F0F0F0;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    font-weight: normal;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: #b2cbae;
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: all 0.3s linear;
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {

    margin-top: 1rem;
}

.product h1{
    padding-left: 1rem;
    color: #476F57;
}

.product p {
    padding-left: 1rem;
}

.product h3 {
    padding-left: 1rem;
}

.product {
    background-color: #F0F0F0;
    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/
    /*overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product h1 {
    font-size: 4rem;
}


#shoppingcart{
    background-color: #044c1f;
    color: white;
}

.cart-btn {
    position: relative;
}

.cart-items {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    background: #c6ecc6;
    color: #044c1f;
    padding: 0 5px;
    border-radius: 30%;
    font-size: 1.5rem;
}

/* ------------------- End of products ---------------- */

/* ------------------- Shopping cart ------------------ */

/*.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background: rgba(36, 148, 20, 0.21);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: all 0.3s linear;
    transform: translateX(100%);
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 4rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
/*.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.cart-item h3 {
    margin: 0.5rem 0;
    font-weight: normal;
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
    font-size: 2rem;
}
.fa-chevron-up,
.fa-chevron-down {
    color: #476F57;
    cursor: pointer;
    font-size: 2rem;
}
/*---------- End of Cart Item -------------------- */

/*.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    background: #476F57;
    color: #F0F0F0;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;
}

.cart-footer {
    margin-top: 2rem;
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.cart-total {
    font-size: 2rem;
}

/* --------------- End of Shopping Cart ---------------- */






.all_section {
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.all_section img {
    width: 100%;
    position: relative;
}

.TextOnImage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.TextOnImage h1 {
    color: white;
    font-max-size: 10rem;
    font-style: normal;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.TextOnImage h2 {
    color: white;
    font-size: 3rem;
    margin-top: -15%;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.TextOnImage button {
    background: #476F57;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;

}

.headline_popular {
    padding-bottom: 2rem;
}

.popular-products {
    padding-top: 4rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.cardsection1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.cardsection2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.cards, .cards2, .cards3, .cards4{
    text-align: center;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-self: center;
    padding-bottom: 50px;
    padding-top: 0rem;
    margin-bottom: 1rem;
    gap: 6rem;

}



.headline_popular h2 {
    font-size: 5rem;

}

.popular-products h5, .cards h2, .cards2 h2, .cards3 h2, .cards4 h2, .popular-products p, .for_men h5, .for_men p, .for_women h5, .for_women p, .fordogs h5, .fordogs p {
    margin-left: 2rem;
    text-align: left;
}

.cards2 img, .cards img, .cards3 img, .cards4 img{
    margin: 3rem;
}

.popular-products h2 {
    padding-bottom: 2rem;

}

.cards h2, .cards2 h2, .cards3 h2, .cards4 h2 {
    color: #476F57;
    font-size: 4rem;
}



.for_men .cards h2 {
    font-size: 4rem;
}



#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16, #card17, #card18, #card19, #card20  {
    background-color: #F0F0F0;
    /*border-radius: 2.5rem;*/
    /*border: 0.2rem solid black;*/
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cards img, .cards2 img, .cards3 img, .cards4 img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 20rem;
    height: 20rem;


}

.for_men {
    background-color: #F8FFF5;
    padding-top:4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    justify-content: center;
}

.allcards, .allcards2, .allcards3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.for_men h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.for_women {
    padding-top: 4rem;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.for_women h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.fordogs {
    background-color: #F8FFF5;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.fordogs h2{
    padding-bottom: 2rem;
    font-size: 4rem;
}


.favorite_brands{
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 20rem;
}

.Related_companies h3 {
    font-size: 4rem;
    font-weight: lighter;
}




.related_companies_images1 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.related_companies_images2 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.related_companies_images3 img {
    margin: 2rem;
    height: 8rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}