@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    /*This makes the css easier to work with*/

    font-size: 62.5%; /* This will reset 1rem to 10px, default 16px */
    margin: 0; /* Setting the default margin to 0 */
    padding: 0; /* Setting the default padding to 0 */
    box-sizing: border-box; /* The box sizing we are used to */
    font-family: 'Montserrat', sans-serif;

}

/*Default font size for p elements to 2rem*/
p {
    font-size: 2rem;
}


h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
}

/**/
header {
    background-color: white;
    font-size: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;

    align-items: center;


    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.8);


}




#header_left h1 {
    font-weight: 800;
    letter-spacing: -0.5rem;
    color: #476F57;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#header_left h2 {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: #8A8A8A;
    margin-top: -1rem;
}

#header_right {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    color: #476F57;
}

#header_right h4 {
    font-weight: 500;
}

.profileButton {
    height: 3rem;
    width: 3rem;
}


#login, #register {
    width: 130px;
    height: 40px;
    color: #044c1f;
    background: #D5F3CA;
    border-radius: 10px;
    font-size: 1.4rem;

}


#register{
    background-color: #044c1f;
    color: white;
}

body{
    /*background-color: #EEFFE8;*/
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(140deg, #FFFFFF33 0%, #5A944D 25%);

}

h1{
    font-size: 6rem;
    font-weight: 700;

}

h2{
    text-align: center;
    font-size: 2rem;

}


footer {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /*height: 34rem;*/
    padding-top: 7rem;
    padding-bottom: 7rem;


}
#footer_left, #footer_right{
    display: flex;
    gap: 25%;

}

footer h1 {
    font-size: 4rem;
    font-weight: 800;
}

footer h2 {
    font-size: 1.5rem;
    font-weight: 530;
}